#header{
background-color: aqua;
}
#menu{
background-color: rgb(214, 103, 212);
float: left;
width: 150px;
height: 100%;
font-size: 20px;
}
#content{
background-color: whitesmoke;
margin-left: 160px;
}
#footer{
background-color: rgba(91, 110, 167, 0.741);
}
html,
body {
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
}
menu,
ul,
li,
a {
    list-style: none;
    text-decoration: none;
}
a:hover {
    background-color: ForestGreen;
}
.myforms{
    border-color: black;
    border-style: solid;
    border-radius: 20px;
    padding: 20px;
      width: 200px;
  }
  #sourceForm{
    background-color: yellow;
  }
  #targetForm{
    background-color: lightgreen;
  }